
      <img src="https://raw.githubusercontent.com/JoshInLisbon/WALD/master/for_WALD_apps/logo.png" style="max-width: 250px;" />
      <h1>🍻 Welcome to your WALD app</h1>
      <h3>Models with views</h3>

          <p><%= link_to 'genres Index', genres_path %></p>
        

          <p><%= link_to 'playlists Index', playlists_path %></p>
        

          <p><%= link_to 'media_types Index', media_types_path %></p>
        

          <p><%= link_to 'artists Index', artists_path %></p>
        

          <p><%= link_to 'customers Index', customers_path %></p>
        

          <p><%= link_to 'albums Index', albums_path %></p>
        

          <p><%= link_to 'invoices Index', invoices_path %></p>
        

          <p><%= link_to 'tracks Index', tracks_path %></p>
        

          <p><%= link_to 'invoice_lines Index', invoice_lines_path %></p>
        

          <p><%= link_to 'playlist_tracks Index', playlist_tracks_path %></p>
        
      <h3>Models without views</h3>

            <p>users</p>
          
