<p id="notice"><%= notice %></p>

<p>
  <strong>Track:</strong>
  <%= @invoice_line.track %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @invoice_line.invoice %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @invoice_line.unit_price %>
</p>

<%= link_to 'Edit', edit_invoice_line_path(@invoice_line) %> |
<%= link_to 'Back', invoice_lines_path %>
